# cornix free text max entries and targets is 10
# cornix free text only allows 1 SL
# if only 1 entry/target, the "high" value is used

# to do:
# DONE!! remove need to type long or short from here (can tell if long or short from entry/SL/TP)
# weightingFactor into here
# HeavyWeightingAtEntryOrStoploss for targets too (just done entries for now)
# clean up hard-written template strings, put them in the functions?
# cornix can remove leading decimals for low sat coins (888, not 0.0000888), account for this (sprintf?)
# blacksphere/loma fixed risk fluid position, calc compound position size if not all entries hit

# no single TP, issue with cornix and changing it's ratio (95% and 5% on similar value)?
# different weightings: (exponential (50/25/12/6/3), balanced-in-twos (10/10/15/15/25/25)
# add options: -c chart, -h heavyEntrySideOrSLside


########## Clients: 
# 1  = BM BinFuts (main)
# 2  = BM BinSpot (main)"
# 3  = BM BybitKB7 Contract InvUSD (main) 260321
# 4  = BM BybitKB7 Contract LinUSDT (main) 211128
# 5  = SF BinFuts (main)
# 7  = SF Bybit Contract InvUSD (main) 210318
# 8  = BM BybitKB7 Contract LinUSDT (main) 281121
# 9  = SF FtxFuturesPerp (main)
# 10 = SF FtxFSpot (main)
# 11 = SF KucoinSpot (main)
#--
# 6  = SF BinSpot (main)
# 12 = SF Bybit Contract LinUSDT (main) 281121

coinPair = MATIC/USDT
client = 12
leverage = 4

numberOfEntries = 5
highEntry = 0.79
lowEntry = 0.78

stopLoss = 0.796

numberOfTargets = 2
highTarget = 0.73
lowTarget = 0.65
