# Usage: perl tt-cornix-parse-trade-setup-file.pl -f tt-trade-setup.config

# Maximum amount of trades of the same symbol in same direction allowed by Cornix is 3
# This limit of 3 comes from the exchanges which limit the amount of stops that can 
# be placed simultaneously for the same pair / symbol - outwith Cornix's control. 

#todo: trailing SL (with proper calculations)

########## Clients: 
# 1  = BM BinFuts (main)
# 2  = BM BinSpot (main)"
# 3  = BM BybitKB7 Contract InvUSD (main) 260321
# 4  = BM BybitKB7 Contract LinUSDT (main) 211128
# 5  = SF BinFuts (main)
# 7  = SF Bybit Contract InvUSD (main) 210318
# 8  = BM BybitKB7 Contract LinUSDT (main) 281121
# 9  = SF FtxFuturesPerp (main)
# 10 = SF FtxFSpot (main)
# 11 = SF KucoinSpot (main)
#--
# 6  = SF BinSpot (main)
# 12 = SF Bybit Contract LinUSDT (main) 281121

numDecimalPlacesForCoinPrices = 2
wantedToRiskAmount = 30

coinPair = btc/usdt
client = 6
leverage = -1

entryValue = 17000
stopLoss = 16000
targetValue = 20000

noOfAddOns = 2						# 0, 1 or 2. Cornix max of 3 trades of same symbol in same direction. 
stepSizeInR = 0.25					# step size of the add on based on R (0.25R to 0.50R)
addOnSoftenerMultiple = 1			# skyscraper, 321, etc. for possibly reducing the amount to risk (position size) at each add-on

	