########## Clients: 
# 1  = BM BinFuts (main)
# 2  = BM BinSpot (main)"
# 3  = BM BybitKB7 Contract InvUSD (main) 260321
# 4  = BM BybitKB7 Contract LinUSDT (main) 211128
# 5  = SF BinFuts (main)
# 7  = SF Bybit Contract InvUSD (main) 210318
# 8  = BM BybitKB7 Contract LinUSDT (main) 281121
# 9  = SF FtxFuturesPerp (main)
# 10 = SF FtxFSpot (main)
# 11 = SF KucoinSpot (main)
#--
# 6  = SF BinSpot (main)
# 12 = SF Bybit Contract LinUSDT (main) 281121

numDecimalPlacesForCoinPrices = 5
wantedToRiskAmount = 40

coinPair = ftm/usdt
client = 12
leverage = 4

entryValue = 0.2185
stopLoss = 0.2250
targetValue = 0.1850