########## Clients: 
# 1  = BM BinFuts (main)
# 2  = BM BinSpot (main)"
# 3  = BM BybitKB7 Contract InvUSD (main) 260321
# 4  = BM BybitKB7 Contract LinUSDT (main) 211128
# 5  = SF BinFuts (main)
# 7  = SF Bybit Contract InvUSD (main) 210318
# 8  = BM BybitKB7 Contract LinUSDT (main) 281121
# 9  = SF FtxFuturesPerp (main)
# 10 = SF FtxFSpot (main)
# 11 = SF KucoinSpot (main)
#--
# 6  = SF BinSpot (main)
# 12 = SF Bybit Contract LinUSDT (main) 281121

numDecimalPlacesForCoinPrices = 1
wantedToRiskAmount = 500

coinPair = btc/usdt
client = 12
leverage = 4

entryValue = 15000
stopLoss = 14000
targetValue = 17000

noOfAddOns = 3
addOnReduceMultiple = 1.5